.spanish-div {
    background-color: lightskyblue;
    border: 3px solid navy;
    border-radius: 20px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly   ;
}

.sbox {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5em;
    text-align: center;
}

.spanish-people {
    width: auto;
}

.spanish-related-languages {
    width: auto;
}

.spanish-letters {
    width: auto;
}

.spanish-countries-spoken {
    width: auto;
    font-size: 0.7em;

}

#scountry-text {
    font-size: 1.6em;
}

.spanish-speakers {
    width: auto;
}

/* .spanish-search {

} */


/* -----------------------------------Jacob-------------------------------------------- */
/* Flexbox for whole page */
.mEntirePage {
    display:flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    border: 5px outset rgba(241, 2, 2, 0.788);
    border-radius: 0px 40px 0px 40px;
    -webkit-box-shadow: 5px 5px 25px 4px #000000; 
    box-shadow: 5px 5px 25px 4px #000000;
    /* background-image: url(http://getwallpapers.com/wallpaper/full/9/6/5/1250421-most-popular-mechanical-gears-wallpaper-1920x1080-for-mac.jpg); */
}

.mPageTitle {
    text-align:center;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 2px 2px rgba(206,0,0,0);
    background-color: rgb(96, 105, 88);
    -webkit-box-shadow: 5px 5px 15px 4px #000000; 
    box-shadow: 5px 5px 15px 4px #000000;
}
/* Flexbox for column 1 */
.mSection1{
    width: 28vw;
    text-align: center;
    align-items:center;
    border: 5px outset rgba(5, 255, 18, 0.644);
    border-radius: 0px 0px 0px 40px;
    -webkit-box-shadow: 5px 5px 15px 4px #000000; 
    box-shadow: 5px 5px 15px 4px #000000;
    background-color: white;
}

/* Flexbox for column 2 */
.mSection2{
    display:flex;
    justify-content:space-evenly;
    align-content: center;
    flex-direction:column;
    width:20vw;
    border: 5px outset rgba(5, 255, 18, 0.644);
    padding: 1em;
    -webkit-box-shadow: 5px 5px 15px 4px #000000; 
    box-shadow: 5px 5px 15px 4px #000000;
    background-color: white;
}

/* Flexbox for column 3 */
.mSection3{
  width:28vw;
  text-align: center;
  border: 5px outset  rgba(5, 255, 18, 0.644);
  border-radius: 0px 40px 0px 0px;
  -webkit-box-shadow: 5px 5px 15px 4px #000000; 
    box-shadow: 5px 5px 15px 4px #000000;
    background-color:white;
}

.fPageTitle{
    text-align: center;
    color: #FFFFFF;
    background: #FFFFFF;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

.fEntirePage{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    border: 5px dashed #1C6EA4;
    justify-content: space-evenly;
    color: #FFFFFF;
    background: #FFFFFF;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
    
    
}

.fSection1{ 
    display: flex;
    flex-flow: column;
    border: 5px ridge #1C6EA4;
    background-color: black;
}

.fSection2{
    
    border: 5px ridge #1C6EA4;
    background-color: black;
}

.fSection3{
    
    border: 5px ridge #1C6EA4;
    background-color: black;
}

/* Whole Translator Bar */
.mTranslatorSection{
    text-align:center;
    padding: 1em;
}

#mTranslationInput{
    -webkit-box-shadow: 5px 5px 15px 4px #000000; 
    box-shadow: 5px 5px 15px 4px #000000;
}

#mTranslationButton{
    -webkit-box-shadow: 5px 5px 15px 4px #000000; 
    box-shadow: 5px 5px 15px 4px #000000;
}

.mAnswerArea{
    padding: 1em;
}


